﻿@model qhse.Models.StatutModele
@{
    ViewBag.Title = "Ajout statut";
    ViewBag.Gestion = "active";
    ViewBag.Status = "active";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Gestion statuts
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Accueil</a></li>
            <li><a href="@Url.Action("Index", "GestionStatus")">Gestion statuts</a></li>
            <li class="active">Ajout</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Ajout</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (@Html.BeginForm("Create", "GestionStatus", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NOM_STATUS, "Désignation", htmlAttributes: new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.NOM_STATUS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Statut" } })
                            @Html.ValidationMessageFor(model => model.NOM_STATUS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="text-danger text-center">@ViewBag.Message</div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Index")">
                        <button type="button" class="btn btn-primary">Annuler</button>
                    </a>
                    <button type="submit" class="btn btn-success pull-right">Ajouter</button>
                </div>
                <!-- /.box-footer -->
            }
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
