﻿@model IEnumerable<qhse.Models.Content>
@{
    ViewBag.Title = "Consultation";
    ViewBag.Consultation = "active";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Constultation
            <small><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-file-excel-o"></i> Exporter Csv</button></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="active">Constultation</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header pb-0">
                        <h3 class="box-title"><button type="button" class="btn btn-block btn-default btn-sm">Retour</button></h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-header">
                        <h3 class="box-title"><button type="button" class="btn btn-block btn-default btn-sm">Retour</button></h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Rubrique</th>
                                <th>Propreté</th>
                                <th>Etat</th>
                                <th>Constat et action</th>
                                <th>Image</th>
                                <th>Heure</th>
                                <th>Date</th>
                                <th>Intervenant</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rubrique.NOM_RUBRIQUE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PROPRETE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ETAT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NOM_CONTENT)
                                    </td>
                                    <td>
                                        <img src="~/dist/img/@Html.DisplayFor(modelItem => item.IMAGE)" height="48px" class="figure-img img-fluid rounded">
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HEURE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.USERNAME)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.box -->

            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->