﻿@model qhse.Models.UserModele
@{
    ViewBag.Title = "Ajout compte";
    ViewBag.Gestion = "active";
    ViewBag.Compte = "active";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Gestion compte
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Accueil</a></li>
            <li><a href="@Url.Action("Index", "GestionComptes")">Gestion compte</a></li>
            <li class="active">Ajout</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Ajout</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (@Html.BeginForm("Create", "GestionComptes", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.USERNAME, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pseudo" } })
                                @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_STATUS, "Status", htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownList("ID_STATUS", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_STATUS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PASSWORD, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.PasswordFor(model => model.PASSWORD, new { @class = "form-control", placeholder = "Mot de passe" })
                                @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                @Html.PasswordFor(model => model.CPASSWORD, new { @class = "form-control", placeholder = "Confirmation mot de passe" })
                                @Html.ValidationMessageFor(model => model.CPASSWORD, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="text-danger text-center">@ViewBag.Message</div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a href="@Url.Action("Index")">
                            <button type="button" class="btn btn-primary">Annuler</button>
                        </a>
                        <button type="submit" class="btn btn-success pull-right">Ajouter</button>
                    </div>
                    <!-- /.box-footer -->
             }
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->