﻿@model IEnumerable<qhse.Models.User>
@{
    ViewBag.Title = "Gestion compte";
    ViewBag.Gestion = "active";
    ViewBag.Compte = "active";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Gestion compte
            <a href="@Url.Action("Create", "GestionComptes")">
                <small>
                    <span class="label label-success">
                        <i class="fa fa-user-plus"></i> Ajouter
                    </span>
                </small>
            </a>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Accueil</a></li>
            <li class="active">Gestion compte</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"><button type="button" class="btn btn-block btn-default btn-sm">Retour</button></h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-header">
                        <h3 class="box-title"><button type="button" class="btn btn-block btn-default btn-sm">Retour</button></h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Pseudo</th>
                                <th>Statut</th>
                                <th>Verrouillé</th>
                                <th>Action</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                var compte = item.USERNAME + "(" + item.Status.NOM_STATUS + ")";
                                var modal = "modal-delete" + item.ID_USER;
                                var modal2 = "modal-lock" + item.ID_USER;
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.USERNAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.NOM_STATUS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LOCK)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "GestionComptes", new { id = item.ID_USER })">
                                    <span class="label label-primary">
                                        <i class="fa fa-edit"></i> Edit
                                    </span>
                                </a>
                                &nbsp;
                                <a href="#" data-toggle="modal" data-target="#@modal">
                                    <span class="label label-danger">
                                        <i class="fa fa-user-times"></i> Delete
                                    </span>
                                </a>
                                <div class="modal modal-danger fade" id="@modal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title">Confirmation</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Etes-vous sûr de vouloire supprimer le compte @compte?</p>
                                            </div>
                                            @using (Html.BeginForm("Delete", "GestionComptes", new { id = item.ID_USER }, FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Annuler</button>
                                                    <button type="submit" class="btn btn-outline">Oui</button>
                                                </div>
                                            }
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                                &nbsp;
                                <a href="#" data-toggle="modal" data-target="#@modal2">
                                    <span class="label label-warning">
                                        @{
                                            var fa = "";
                                            var text = "";
                                            if (item.LOCK == false)
                                            {
                                                fa = "fa-lock";
                                                text = "Verouiller";
                                            }
                                            else if (item.LOCK == true)
                                            {
                                                fa = "fa-unlock-alt";
                                                text = "Déverouiller";
                                            }
                                        }
                                        <i class="fa @fa"></i> @text
                                    </span>
                                </a>
                                <div class="modal modal-warning fade" id="@modal2">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title">Confirmation</h4>
                                            </div>
                                            <div class="modal-body">
                                                @{
                                                    var text2 = "";
                                                    if (item.LOCK == false)
                                                    {
                                                        text2 = "verouiller";
                                                    }
                                                    else if (item.LOCK == true)
                                                    {
                                                        text2 = "déverouiller";
                                                    }
                                                }
                                                <p>Etes-vous sûr de vouloire @text2 le compte @compte?</p>
                                            </div>
                                            @using (Html.BeginForm("Verouiller", "GestionComptes", new { id = item.ID_USER }, FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Annuler</button>
                                                    <button type="submit" class="btn btn-outline">Oui</button>
                                                </div>
                                            }
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                            </td>
                        </tr>
                            }
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.box -->

            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->