﻿@model qhse.Models.Login
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Login";
}
<div class="login-box">
    <div class="login-logo">
        <a href="index2.html"><b><img src="~/dist/img/ravinala.png" class="user-image" alt="User Image"></b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <br />
        <p class="login-box-msg">Connectez-vous pour commencer</p><br />

        @using (@Html.BeginForm("CheckUser", "Login", FormMethod.Post, new { @class = "" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                @Html.TextBoxFor(login => login.pseudo, new { @class = "form-control", placeholder = "Login", id = "Pseudo" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="text-center">@Html.ValidationMessage("pseudo", "", new { @class = "text-danger" })</div><br />

            <div class="form-group has-feedback">
                @Html.PasswordFor(login => login.password, new { @class = "form-control", placeholder = "Mot de passe" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="text-center">@Html.ValidationMessage("password", "", new { @class = "text-danger" })</div>

            <div class="text-danger text-center">@ViewBag.Message</div><br />

            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4 col-xs-offset-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div><br />
        }

    </div>
    <!-- /.login-box-body -->
</div>