﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload</title>
</head>
<body>
    <div>

        @using (Html.BeginForm("Upload", "Sections", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <input type="file" name="upload"/>
            <button type="submit">Importer</button>
        }

    </div>
</body>
</html>