﻿@model qhse.Models.RubriqueModele
@{
    ViewBag.Title = "Ajout rubrique";
    ViewBag.Gestion = "active";
    ViewBag.Rubrique = "active";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Gestion rubriques
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Accueil</a></li>
            <li><a href="@Url.Action("Index", "GestionRubriques")">Gestion rubriques</a></li>
            <li class="active">Ajout</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Ajout</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (@Html.BeginForm("Create", "GestionRubriques", FormMethod.Post, new { @class = "form-horizontal", @id = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.SEARCH)
                @Html.HiddenFor(model => model.PARENT_SEC_ID_SECTION)
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ID_SECTION, "SECTION", htmlAttributes: new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.DropDownList("ID_SECTION", null, htmlAttributes: new { @class = "form-control", @id = "dropdownlist" })
                            @Html.ValidationMessageFor(model => model.ID_SECTION, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-block btn-primary btn-sm" id="btnsearch">Ok</button>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NOM_RUBRIQUE, "Nom rubrique", htmlAttributes: new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.NOM_RUBRIQUE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rubrique" } })
                            @Html.ValidationMessageFor(model => model.NOM_RUBRIQUE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="text-danger text-center">@ViewBag.Message</div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Index")">
                        <button type="button" class="btn btn-primary">Annuler</button>
                    </a>
                    <button type="button" class="btn btn-success pull-right" id="btnajout">Ajouter</button>
                </div>
                <!-- /.box-footer -->
            }
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->