﻿@model qhse.Models.SectionEditModele
@{
    ViewBag.Title = "Modification section";
    ViewBag.Gestion = "active";
    ViewBag.Section = "active";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Gestion sections
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Accueil</a></li>
            <li><a href="@Url.Action("Index", "GestionSections")">Gestion sections</a></li>
            <li class="active">Ajout</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Modification</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (@Html.BeginForm("Edit", "GestionSections", FormMethod.Post, new { @class = "form-horizontal", @id = "form", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID_SECTION)
                @Html.HiddenFor(model => model.ICONE)
                @Html.HiddenFor(model => model.SEARCH)
                @Html.HiddenFor(model => model.PARENT_SEC_ID_SECTION)
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SEC_ID_SECTION, "Section mère", htmlAttributes: new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.DropDownList("SEC_ID_SECTION", null, htmlAttributes: new { @class = "form-control", @id = "dropdownlist" })
                            @Html.ValidationMessageFor(model => model.SEC_ID_SECTION, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-block btn-primary btn-sm" id="btnsearch">Ok</button>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NOM_SECTION, "Section", htmlAttributes: new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.NOM_SECTION, new { htmlAttributes = new { @class = "col-sm-2 form-control", placeholder = "Section" } })
                            @Html.ValidationMessageFor(model => model.NOM_SECTION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ICONE, htmlAttributes: new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.IconFile, new { type = "file" })
                            @Html.ValidationMessageFor(model => model.IconFile, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.AS_TABS, "Onglet", htmlAttributes: new { @class = "control-label col-sm-1" })
                        <div class="col-sm-3">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.AS_TABS)
                                @Html.ValidationMessageFor(model => model.AS_TABS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="text-danger text-center">@ViewBag.Message</div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Index")">
                        <button type="button" class="btn btn-primary">Annuler</button>
                    </a>
                    <button type="button" class="btn btn-warning pull-right" id="btnajout">Modifier</button>
                </div>
                <!-- /.box-footer -->
            }
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->